.container {
  margin: auto;
  text-align: center;
}

.container p {
  font-size: 20px;
}

body {
  background-color: #393E46;
}

h1 {
  text-shadow: 5px 0 #232931;
  color: #4ECCA3;
}

p {
  color: #4ECCA3;
}

img {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
}

.sideNavBar {
  height: auto;
  position: fixed;
  padding: 30px;
  top: 0;
  left: 0;
  background-color: #4ECCA3;
  overflow-x: hidden;
}

.sideNavBar a {
  padding: 8px 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #232931;
  display: block;
}

.sideNavBar a:hover {
  color: #f1f1f1;
}

#teamMembers {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-color: #505762;
}

#teamMembers div {
  margin: 10px;
  padding: 20px;
  border: solid;
  background-color: #39463B;
}

#teamMembers div h2 {
  font-size: 1.5em;
  color: #4ECCA3;
}

#teamMembers div p {
  font-size: 1em;
}